@page
@model CommerceRazorDemo.Pages.OrderStatuses.EditModel

@{
    if (Model.OrderStatusVM.Id != 0)
    {
        ViewData["Title"] = "Status Edit";
    }
    else
    {
        ViewData["Title"] = "Status Create";

    }
}

<h1>@ViewData["Title"]</h1>

<h4>Order Status</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrderStatusVM.Id" />
            <div class="form-group mt-3">
                <label asp-for="OrderStatusVM.Name" class="control-label"></label>
                <input asp-for="OrderStatusVM.Name" class="form-control" />
                <span asp-validation-for="OrderStatusVM.Name" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Save" class="btn btn-primary col-4" />
            </div>
        </form>
    </div>
</div>

<div class="mt-4">
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
