@page
@model CommerceRazorDemo.Pages.Products.EditModel

@{
    if (Model.Id != 0)
    {
        ViewData["Title"] = "Edit Product";

    }
    else
    {
        ViewData["Title"] = "Create Product";

    }
}

<section class="bg-dark py-1">
    <div class="container px-4 px-lg-5">
        <div class="text-left text-white">
            <h5 class="fw-bolder">@ViewData["Title"]</h5>
        </div>
    </div>
</section>
    
<section class="py-2">
    <div class="container px-4 px-lg-5 mt-5">


        <div class="row">
            <div class="col-md-4">
                <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group mt-3">
                            <label asp-for="Title" class="control-label"></label>
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-3">
                            <label asp-for="Description" class="control-label"></label>
                            <textarea rows="5" cols="35" asp-for="Description" class="form-control"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-3">
                            <label asp-for="Brand" class="control-label"></label>
                            <input class="form-control" asp-for="Brand" list="brands">
                            <datalist id="brands">
                                @foreach(var item in Model.Brands)
                                {
                                    <option value="@item"></option>
                                }
                            </datalist>
                        </input>
                            <span asp-validation-for="Brand" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-3">
                            <label asp-for="Price" class="control-label"></label>
                            <input asp-for="Price" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-3">
                            <label asp-for="ProductCategoryId" class="control-label"></label>
                            <select class="form-control" asp-for="ProductCategoryId" asp-items="Model.Categories"></select>
                            <span asp-validation-for="ProductCategoryId" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-3">
                            <label asp-for="ModelNumber" class="control-label"></label>
                            <input asp-for="ModelNumber" class="form-control" />
                            <span asp-validation-for="ModelNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-3">
                            <label asp-for="AvailableQty" class="control-label"></label>
                            <input asp-for="AvailableQty" class="form-control" />
                            <span asp-validation-for="AvailableQty" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-3">
                            <input asp-for="IsActive" class="form-check-input" />
                            <label asp-for="IsActive" class="form-check-label"></label>
                            <span asp-validation-for="IsActive" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-3 row">
                            <div class="col">
                                <input type="submit" value="Save" class="btn btn-outline-dark mt-auto text-center col-6" />
                            </div>
                            <div class="col text-end">
                                <a asp-page="./Index">Back to List</a>
                            </div>
                        </div>
                    </form>
            </div>
        </div>
         
    </div>
</section>

