@page
@model CommerceRazorDemo.Pages.Errors._404Model
@{
    ViewData["Title"] = "No such page";
}


<section class="py-2">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row ">
            <h1>404 Not found</h1>
            <p>No such page exists at this location.</p>
        </div>
    </div>
</section>