@model Boolean

@if (Model)
{
    <a class="nav-link" asp-area="" asp-page="\Shopping\Cart?customerId=1">
        &nbsp;
        <i class="bi bi-cart-fill fs-1"></i>
    </a>
}
else
{
    <a class="nav-link" asp-area="" asp-page="\Shopping\Cart?customerId=1">
        &nbsp;
        <i class="bi bi-cart fs-1"></i>
    </a>
}

