@model int

<div class="d-flex ms-auto">
    <a class="btn btn-outline-dark" href="\Shopping\Cart?customerId=1">
        <i class="bi-cart-fill me-1"></i>
        Cart
        <span class="badge bg-dark text-white ms-1 rounded-pill">@Model</span>
    </a>
</div>

