
<form class="d-flex col-6" action="..\Shopping\Index" method="get">
    <input class="form-control me-2" type="search" placeholder="Search for products..." aria-label="Search" id="SearchString" name="SearchString">
    <button class=" form-control btn btn-success" type="submit">Search</button>
</form>
