@model SelectList


<div>
    <form asp-page="..\Index" method="post" >
        <select class="form-control" asp-items="@Model" name="name">            
        </select>
        <button type="submit">Login</button>
    </form>
</div>