@model SelectList


<div>
    <form >
        <select class="form-control" asp-items="@Model" name="id">
            <option value="0">Administrator</option>
        </select>
        <button type="submit">Login</button>
    </form>
</div>