@model SelectList


<div>
    <form asp-page="..\Index" method="post" >
        <div class="input-group">
            <select class="form-control" asp-items="@Model" name="name" title="Names"></select>
            <button type="submit" class="btn btn-outline-light">Switch</button>
        </div>        
    </form>
</div>