@page
@model CommerceRazorDemo.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Admin";
}

<section class="bg-dark py-2">
    <div class="container px-4 px-lg-5 my-2">
        <div class="text-center text-white">
            <h4 class="display-4 fw-bolder">Administrative Portal</h4>
        </div>
    </div>
</section>