@model IEnumerable<CommerceRazorDemo.Models.ProductCategory>

<h3>Categories</h3>
<ul>
    @foreach(var item in Model)
    {
        var href = "..\\Shopping\\Index?category=" + item.Id;
        <li><a href=@href >@item.Title</a></li>
    }
</ul>